# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [58]:
# Your code goes here
import pandas as pd

link1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
link2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
link3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

df1 = pd.read_csv(link1)
df2 = pd.read_csv(link2)
df3 = pd.read_csv(link3)

In [60]:
df1.columns = [column.lower().replace(" ","_") for column in df1.columns]

In [76]:
df1 = df1[sorted(df1.columns)]

In [78]:
df1.head()

,customer,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,st,total_claim_amount,vehicle_class
0,RB50392,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Washington,2.704934,Four-Door Car
1,QZ44356,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,Arizona,1131.464935,Four-Door Car
2,AI49188,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,Nevada,566.472247,Two-Door Car
3,WW63253,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,California,529.881344,SUV
4,GA49547,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,Washington,17.269323,Four-Door Car

In [64]:
df2.columns = df2[.replace(" ","_") for column in df2.columns]

In [80]:
df2 = df2[sorted(df2.columns)]
df2.head()

,customer,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,st,total_claim_amount,vehicle_class
0,GS98873,323912.47%,Bachelor,F,16061,88,1/0/00,Personal Auto,Arizona,633.6,Four-Door Car
1,CW49887,462680.11%,Master,F,79487,114,1/0/00,Special Auto,California,547.2,SUV
2,MY31220,899704.02%,College,F,54230,112,1/0/00,Personal Auto,California,537.6,Two-Door Car
3,UH35128,2580706.30%,College,F,71210,214,1/1/00,Personal Auto,Oregon,1027.2,Luxury Car
4,WH52799,380812.21%,College,F,94903,94,1/0/00,Corporate Auto,Arizona,451.2,Two-Door Car

In [68]:
df3.columns = [column.lower().replace(" ","_") for column in df3.columns]

In [72]:
df3.rename(columns={"state":"st"}, inplace=True)

In [258]:
df3 = df3[sorted(df3.columns)]
df3.head()

,customer,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,st,total_claim_amount,vehicle_class
0,SA25987,3479.137523,High School or Below,M,0,104,0,Personal Auto,Washington,499.200000,Two-Door Car
1,TB86706,2502.637401,Master,M,0,66,0,Personal Auto,Arizona,3.468912,Two-Door Car
2,ZL73902,3265.156348,Bachelor,F,25820,82,0,Personal Auto,Nevada,393.600000,Four-Door Car
3,KX23516,4455.843406,High School or Below,F,0,121,0,Personal Auto,California,699.615192,SUV
4,FN77294,7704.958480,High School or Below,M,30366,101,2,Personal Auto,California,484.800000,SUV

In [186]:
concat_df = pd.concat([df1, df2, df3], ignore_index = True)

In [270]:
concat_df.number_of_open_complaints.unique()

array(['0', '2', '1', '3', '5', '4', 0, 2, 3, 1, 5, 4], dtype=object)

In [192]:
concat_df = concat_df.dropna(how="all")
concat_df.isnull().sum()

customer                       0
customer_lifetime_value        7
education                      0
gender                       122
income                         0
monthly_premium_auto           0
number_of_open_complaints      0
policy_type                    0
st                             0
total_claim_amount             0
vehicle_class                  0
dtype: int64

In [188]:
concat_df = concat_df.drop_duplicates()

In [196]:
concat_df["education"].replace("Bachelor","Bachelors", inplace=True)
concat_df["education"].value_counts()

C:\Users\georg\AppData\Local\Temp\ipykernel_22192\1466102434.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  concat_df["education"].replace("Bachelor","Bachelors", inplace=True)

education
Bachelors               2742
College                 2681
High School or Below    2616
Master                   751
Doctor                   344
Name: count, dtype: int64

In [202]:
concat_df["st"].replace({"Cali":"California", "AZ":"Arizona", "WA":"Washington"}, inplace=True)
concat_df["st"].unique()

C:\Users\georg\AppData\Local\Temp\ipykernel_22192\661067968.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  concat_df["st"].replace({"Cali":"California", "AZ":"Arizona", "WA":"Washington"}, inplace=True)

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon'],
      dtype=object)

In [218]:
concat_df["vehicle_class"] = concat_df["vehicle_class"].replace({"Luxury SUV":"Luxury","Luxury Car":"Luxury","Sports Car":"Luxury"})
concat_df["vehicle_class"].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury'], dtype=object)

In [242]:
concat_df["customer_lifetime_value"] = concat_df["customer_lifetime_value"].str.replace("%", "")

array([nan, '697953.59', '1288743.17', ..., '568964.41', '368672.38',
       '399258.39'], dtype=object)

In [246]:
concat_df["customer_lifetime_value"] = concat_df["customer_lifetime_value"].astype(float)

In [268]:
concat_df['number_of_open_complaints'] = concat_df['number_of_open_complaints'].apply(lambda x:x.split("/")[1] if isinstance (x, str) else x)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [ ]:
# Your code goes here

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here